#
# This configuration file is used to provided inputs to the GIFT ERT batch report application.
# The batch report application will run a series of ERT reports using a report properties file
# to configure the report settings and a data set.  All the data files for a user's domain 
# session will be collected together for a user (e.g. domain session message log, sensor writer
# file(s)). 
#
# Notes: 
#       i. the batch report application utilizes the GIFT output file name syntax to associate
#          files for a user's domain session.
#      ii. if you receive an exception mentioning out of memory than you will most likely have to 
#          either pair down your data manually or use a 64bit Java instead of the 32bit Java that 
#          comes with GIFT.  
#          See the GIFT troubleshooting wiki page:
#          (latest version at this time https://gifttutoring.org/projects/gift/wiki/Troubleshooting_2017-1#Java-out-of-memory-heap-space-errorexception)
#
 
# The ERT properties file to use to configure the report settings
# Required
# Absolute path or relative path from GIFT folder
# Note: you should look at the example file referenced below and change to your preferences.  Otherwise use the ERT to author 
#       a properties file and change the reference to your file.
propertiesFile=config/tools/ert/sample.ert.settings

# The folder that contains the GIFT output files to read in
# Optional
# if not set the default GIFT output folder location is used (GIFT\output\)
# Absolute path or relative path from GIFT folder
dataFolder=output/boyceData

# The root folder where a sub folder will be created.  That sub folder 
# will contain the ERT reports created in this batch process.
# If null or empty the default location of GIFT/output/ will be used.
# Absolute path or relative path from GIFT folder
# If the folder doesn't exist it will be created.
reportOutputFolder=output/batchOutput