GIFT/build
GIFT/external
GIFT/bin
GIFT/data
GIFT/docs
GIFT/generated
GIFT/output
GIFT/temp
GIFT/test
.svn
.vscode/settings.json
GIFT/config/gateway/configurations/*.bak
GIFT/src.py/xml.rpc.server/__pycache__
Domain/runtime