<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GIFT/src/mil/arl/gift/tools/authoring/scat/SCAT.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mil.arl.gift.tools.authoring.scat.SCAT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GIFT"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&quot;${workspace_loc:${project_name}}\external;${workspace_loc:${project_name}}\external\emotiv;${workspace_loc:${project_name}}\external\jnect;${env_var:PATH}&quot;"/>
</launchConfiguration>
